
// 评论区颜色重置
.gt-container
  .gt-ico-tip
    &::after
      content: '。( Win + . ) 或 ( ⌃ + ⌘ + ␣ ) 打开表情'
      color: #999
      font-size: .8rem
  .gt-meta
    border-color var(--borderColor)!important
  .gt-comments-null
    color var(--textColor)
    opacity .5
  .gt-header-textarea
    color var(--textColor)
    background rgba(180,180,180,0.1)!important
  .gt-btn
    border-color $accentColor!important
    background-color $accentColor!important
  .gt-btn-preview
    background-color rgba(255,255,255,0)!important
    color $accentColor!important
  a
    color $accentColor!important
  .gt-svg svg
    fill $accentColor!important
  .gt-comment-content,.gt-comment-admin .gt-comment-content
    background-color rgba(150,150,150,0.1)!important
    &:hover
      box-shadow 0 0 25px rgba(150,150,150,.5)!important
    .gt-comment-body
      color var(--textColor)!important


// qq徽章
.qq
  position: relative;
.qq::after
  content: "可撩";
  background: $accentColor;
  color:#fff;
  padding: 0 5px;
  border-radius: 10px;
  font-size:12px;
  position: absolute;
  top: -4px;
  right: -35px;
  transform:scale(0.85);

// demo模块图标颜色
body .vuepress-plugin-demo-block__wrapper
  &,.vuepress-plugin-demo-block__display
    border-color rgba(160,160,160,.3)
  .vuepress-plugin-demo-block__footer:hover
    .vuepress-plugin-demo-block__expand::before
      border-top-color: $accentColor !important;
      border-bottom-color: $accentColor !important;
    svg
      fill: $accentColor !important;

// 全文搜索框
.suggestions
  overflow: auto
  max-height: calc(100vh - 6rem)
  @media (max-width: 719px) {
    width: 90vw;
    min-width: 90vw!important;
    margin-right: -20px;
  }
  .highlight
    color: $accentColor
    font-weight: bold

// 导航栏站点名称颜色
.navbar .site-name
  color #FBBF47 !important

// GitHub 链接显示图标而非文字（仅在电脑端）
@media (min-width 719px)
  .nav-links .repo-link
    font-size 0 // 隐藏文字
    &::before
      content '\e972' // GitHub 图标
      font-family 'iconfont' !important
      font-size 1.3rem
      font-style normal
      -webkit-font-smoothing antialiased
      -moz-osx-font-smoothing grayscale
      display inline-block
      vertical-align -0.15em
    svg // 隐藏外部链接图标
      display none

// 首页顶部 banner 图片效果
.home-wrapper .banner
  position relative
  &::before
    content ''
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background inherit
    filter blur(3px)
    z-index 0
  &::after
    content ''
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 100%)
    z-index 0
  .banner-conent
    position relative
    z-index 1

// 不蒜子统计样式
#busuanzi_container_site_pv, #busuanzi_container_site_uv
  #busuanzi_value_site_pv, #busuanzi_value_site_uv
    color $accentColor
    font-weight 600
    padding 0 3px
